
.button-round{
    border-radius: 45px;
    
}
.button{
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    padding: 19px;
    border: 1px solid #e6e3f1;
    font-size: 19px;
    font-weight: 400;
}
.button:hover{
    background-color: blue;
    border-color:   blue;
    color: #fff;
}
.button-radius{
    border-radius: 9px;
}

